[data-component="dialog-overlay"] {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: hsl(from var(--background-base) h s l / 0.2);
}

[data-component="dialog"] {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;

  [data-slot="dialog-container"] {
    position: relative;
    z-index: 50;
    width: min(calc(100vw - 16px), 640px);
    height: min(calc(100vh - 16px), 512px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    overflow: visible;

    [data-slot="dialog-content"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      width: 100%;
      max-height: 100%;
      min-height: 280px;
      overflow: auto;

      /* Hide scrollbar */
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      border: 1px solid
        light-dark(
          color-mix(in oklch, var(--border-base) 30%, transparent),
          color-mix(in oklch, var(--border-base) 50%, transparent)
        );
      border-radius: var(--radius-xl);
      background: var(--surface-raised-stronger-non-alpha);
      background-clip: padding-box;
      box-shadow: var(--shadow-lg);

      [data-slot="dialog-header"] {
        display: flex;
        padding: 16px 16px 16px 24px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;

        [data-slot="dialog-title"] {
          color: var(--text-strong);

          /* text-16-medium */
          font-family: var(--font-family-sans);
          font-size: var(--font-size-large);
          font-style: normal;
          font-weight: var(--font-weight-medium);
          line-height: var(--line-height-x-large); /* 150% */
          letter-spacing: var(--letter-spacing-tight);
        }
      }

      [data-slot="dialog-description"] {
        display: flex;
        padding: 16px;
        padding-left: 24px;
        padding-top: 0;
        margin-top: -8px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;

        color: var(--text-base);

        /* text-14-regular */
        font-family: var(--font-family-sans);
        font-size: 14px;
        font-style: normal;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-large); /* 142.857% */
        letter-spacing: var(--letter-spacing-normal);
      }

      [data-slot="dialog-body"] {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        &:focus-visible {
          outline: none;
        }
      }
      &:focus-visible {
        outline: none;
      }
    }

    &:focus-visible {
      outline: none;
    }
  }

  &[data-size="large"] [data-slot="dialog-container"] {
    width: min(calc(100vw - 32px), 800px);
    height: min(calc(100vh - 32px), 600px);
  }

  &[data-size="x-large"] [data-slot="dialog-container"] {
    width: min(calc(100vw - 32px), 960px);
    height: min(calc(100vh - 32px), 600px);
  }
}
