@font-face {
  font-family: "DM Serif Display";
  src: url("../assets/fonts/DMSerifDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

[data-component="logo-mark"] {
  width: 16px;
  aspect-ratio: 4/5;
}
